# common env var settings
# not all containers use all of these env vars, but they are common
# enough it's much simpler to track them in one place
x-common-variables: &common-variables
  JAMBONES_MYSQL_HOST: mysql
  JAMBONES_MYSQL_USER: jambones
  JAMBONES_MYSQL_PASSWORD: jambones
  JAMBONES_MYSQL_DATABASE: jambones
  # different servers require these env vars a little differently, but
  # probably at least the first two can be consolidated soon
  JWT_SECRET: '5a3e38b5-3188-4936-89c9-fb0df3138b5c'
  ENCRYPTION_SECRET: '5a3e38b5-3188-4936-89c9-fb0df3138b5c'
  AUTHENTICATION_KEY: '5a3e38b5-3188-4936-89c9-fb0df3138b5c'
  NODE_ENV: production
  JAMBONES_TIME_SERIES_HOST: influxdb
  ENABLE_METRICS: 0
  JAMBONES_CLUSTER_ID: jb
  JAMBONES_REDIS_HOST: redis
  JAMBONES_REDIS_PORT: 6379
  JAMBONES_LOGLEVEL: info
  # note that DRACHTIO_HOST is different for the feature server,
  # so we set it explicitly on the containers that need it
  DRACHTIO_PORT: 9022
  DRACHTIO_SECRET: cymru
  # OpenTelemetry/Jaeger tracing configuration
  JAMBONES_OTEL_ENABLED: 1
  OTEL_EXPORTER_JAEGER_ENDPOINT: 'http://jaeger:14268/api/traces'
  OTEL_EXPORTER_OTLP_METRICS_INSECURE: 1
  OTEL_EXPORTER_JAEGER_GRPC_INSECURE: 1
  OTEL_TRACES_SAMPLER: 'parentbased_traceidratio'
  OTEL_TRACES_SAMPLER_ARG: 1.0


networks:
  jambonz:
    driver: bridge
    ipam:
      config:
        - subnet: 172.10.0.0/16
services:
  mysql:
    build: ./mysql
    volumes:
      - ./data_volume:/var/lib/mysql
    ports:
      - "3360:3306"
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: "jambones"
      MYSQL_USER: "jambones"
      MYSQL_PASSWORD: "jambones"
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "127.0.0.1", "--protocol", "tcp"]
      timeout: 5s
      retries: 10
    networks:
      jambonz:
        ipv4_address: 172.10.0.2

  redis:
    image: redis:alpine
    ports:
      - "16379:6379/tcp"
    networks:
      jambonz:
        ipv4_address: 172.10.0.3

  drachtio-sbc:
    image: drachtio/drachtio-server:latest
    restart: always
    entrypoint: ["/bin/bash", "/etc/drachtio/drachtio-entrypoint.sh"]
    environment:
      LOCAL_IP: ${LOCAL_IP:-172.10.0.10}
      HOST_IP: ${HOST_IP}
    volumes:
      - ./sbc/drachtio.conf.xml:/etc/drachtio.conf.xml
      - ./sbc/drachtio-entrypoint.sh:/etc/drachtio/drachtio-entrypoint.sh:ro
    ports:
      - "5060:5060/udp"
      - "5060:5060/tcp"
      - "5061:5061/tcp"
    depends_on:
      - rtpengine
    networks:
      jambonz:
        ipv4_address: 172.10.0.10

  rtpengine:
    image: drachtio/rtpengine:jambonz-test
    restart: always
    command: ["rtpengine", "--interface", "private/172.10.0.11", "--interface", "public/172.10.0.11!${HOST_IP}", "--port-min", "10000", "--port-max", "60000", "--log-level", "5"]
    ports:
      - "10000-60000:10000-60000/udp"
    networks:
      jambonz:
        ipv4_address: 172.10.0.11

  api-server:
    image: jambonz/api-server:latest
    restart: always
    ports:
      - "3000:3000"
    environment:
      <<: *common-variables
      HTTP_PORT: 3000
      JAEGER_BASE_URL: 'http://jaeger:16686'
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
      jaeger:
        condition: service_started
    networks:
      jambonz:
        ipv4_address: 172.10.0.30

  webapp:
    build: ./jambonz-webapp-main
    networks:
      jambonz:
        ipv4_address: 172.10.0.31
    ports:
      - "3001:3001"
    environment:
      API_BASE_URL: http://${HOST_IP}:3000/v1
      DISABLE_JAEGER_TRACING: "false"
      DISABLE_CALL_RECORDING: "false"
    depends_on:
      - api-server
      - jaeger

  registrar:
    image: jambonz/sbc-registrar:latest
    restart: always
    environment:
      <<: *common-variables
      DRACHTIO_HOST: drachtio-sbc
      DRACHTIO_PORT: 9022
      DRACHTIO_SECRET: cymru
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      jambonz:
        ipv4_address: 172.10.0.32

  call-router:
    image: jambonz/sbc-call-router:latest
    restart: always
    environment:
      <<: *common-variables
      DOCKER_BRIDGE_IP: 172.10.0.1
      JAMBONES_NETWORK_CIDR: 172.10.0.0/16
      HTTP_PORT: 4000
      JAMBONES_INBOUND_ROUTE: sbc-inbound:4000
      JAMBONES_OUTBOUND_ROUTE: sbc-outbound:4000
      JAMBONZ_TAGGED_INBOUND: 1
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      jambonz:
        ipv4_address: 172.10.0.33

  sbc-inbound:
    image: jambonz/sbc-inbound:latest
    restart: always
    environment:
      <<: *common-variables
      NODE_ENV: test
      DRACHTIO_HOST: drachtio-sbc
      DRACHTIO_PORT: 9022
      DRACHTIO_SECRET: cymru
      DRACHTIO_TAG: sbc-inbound
      HTTP_PORT: 4000
      JAMBONES_RTPENGINES: 'rtpengine:22222'
      JAMBONES_NETWORK_CIDR: 172.10.0.0/16
      JAMBONES_FEATURE_SERVERS: drachtio-fs:5060
      HOST_IP: ${HOST_IP}
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      jambonz:
        ipv4_address: 172.10.0.34

  sbc-outbound:
    image: jambonz/sbc-outbound:latest
    restart: always
    environment:
      <<: *common-variables
      DRACHTIO_HOST: drachtio-sbc
      DRACHTIO_PORT: 9022
      DRACHTIO_SECRET: cymru
      DRACHTIO_TAG: sbc-outbound
      HTTP_PORT: 4000
      JAMBONES_RTPENGINES: 'rtpengine:22222'
      JAMBONES_NETWORK_CIDR: 172.10.0.0/16
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      jambonz:
        ipv4_address: 172.10.0.35

  drachtio-fs:
    image: drachtio/drachtio-server:latest
    restart: always
    command: ["drachtio", "--contact", "sip:*;transport=udp", "--contact", "sip:*;transport=tcp", "--address", "0.0.0.0", "--port", "9023"]
    networks:
      jambonz:
        ipv4_address: 172.10.0.50

  freeswitch:
    image: drachtio/drachtio-freeswitch-mrf:latest
    restart: always
    command: ["freeswitch", "--rtp-range-start", "20000", "--rtp-range-end", "20100"]
    ports:
      - "8022:8021/tcp"
    volumes:
      - ./tmpAudio:/tmp
    environment:
      MOD_AUDIO_FORK_SUBPROTOCOL_NAME: audio.jambonz.org
      MOD_AUDIO_FORK_SERVICE_THREADS: 1
      MOD_AUDIO_FORK_BUFFER_SECS: 3
    networks:
      jambonz:
        ipv4_address: 172.10.0.51

  feature-server:
    image: jambonz/feature-server:latest
    restart: always
    volumes:
      - ./credentials:/opt/credentials
      - ./tmpAudio:/tmp
    environment:
      <<: *common-variables
      GOOGLE_APPLICATION_CREDENTIALS: /opt/credentials/gcp.json
      DRACHTIO_HOST: drachtio-fs
      DRACHTIO_PORT: 9023
      DRACHTIO_SECRET: cymru
      JAMBONES_NETWORK_CIDR: 172.10.0.0/16
      HTTP_PORT: 3000
      JAMBONES_SBCS: drachtio-sbc
      JAMBONES_FREESWITCH: freeswitch:8021:JambonzR0ck$
    depends_on:
      - mysql
      - redis
      - jaeger
      - sbc-inbound
      - sbc-outbound
      - api-server
      - drachtio-fs
      - freeswitch
    networks:
      jambonz:
        ipv4_address: 172.10.0.60

  influxdb:
    image: influxdb:1.8
    ports:
      - "8086:8086"
    networks:
      jambonz:
        ipv4_address: 172.10.0.61

  jaeger:
    image: jaegertracing/all-in-one:latest
    restart: always
    ports:
      - "16686:16686"  # Jaeger UI
      - "14268:14268"  # HTTP collector
      - "6831:6831/udp"  # UDP agent
      - "6832:6832/udp"  # UDP agent
    environment:
      - COLLECTOR_ZIPKIN_HTTP_PORT=9411
    networks:
      jambonz:
        ipv4_address: 172.10.0.62
